body {
    font-family: Arial;
    background-color: #f4f6f8;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

.buttons button {
    padding: 10px 18px;
    margin: 8px;
    font-size: 15px;
}

.stop {
    background-color: #e74c3c;
    color: white;
}

.clear {
    background-color: #95a5a6;
    color: white;
}

textarea {
    width: 85%;
    height: 220px;
    margin-top: 15px;
}

.note {
    color: gray;
    margin-top: 12px;
}